<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dapamail.mailbatchweb.dao.MovieDao">
  <select id="getList" resultType="com.dapamail.mailbatchweb.entity.Movie" >
    select * from movie
  </select>
  <insert id="addList"  >
    insert into movie (title) values ('something')
  </insert>
</mapper>